# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# Environment and secrets
.env
*.pem
*.key

# Data
data/
*.csv
*.parquet

# Spark
spark-warehouse/
metastore_db/
derby.log
checkpoints/

# Database
*.db
*.sqlite3

# Great Expectations
great_expectations/uncommitted/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log
